*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  color: white;
  background-color: lightskyblue;
  font-family: Lato, sans-serif;
  margin-top: 20px;
}

h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*Logo*/

.contenedor-logo{
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
}


.logo{
  width: 450px;
  height: 200px;
}



.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  margin: -25px 10px 10px 10px;
  padding: 25px;
  border-radius: 26px;
}